	
	
	
/* Fonts and Text Classes */
.dmg {
	font-family: 'Nunito Sans', sans-serif;
	padding: 50px 50px 20px; }
	
.fonttheme {
	font-family: 'Oswald', sans-serif;
	font-size: 150%; }
	
.fonttheme-sm {
	font-family: 'Oswald', sans-serif;
	font-size: 75%;
    padding: 0px 25px;	}
	
.fontpadding {
	padding: 25px 50px; }
	
/* Image Classes */

.smimg {
	padding: 70px 25px 20px 30px;
	max-width: 500px;
	width: 100%}
	
.image-fluid-custom {
	width: 100% }
	
.fit {
	width: 225px;
	height: auto; }
	
.row {
	padding: 0 !important;
	margin: 0 !important; }