	
	
	
/* Fonts and Text Classes */
.dmg {
	font-family: 'Nunito Sans', sans-serif;
	padding: 25px 50px 50px; }
	
.fonttheme {
	font-family: 'Oswald', sans-serif;
	font-size: 150%; }
	
.fonttheme-sm {
	font-family: 'Oswald', sans-serif;
	font-size: 75%;
    padding: 0px 25px;	}
	
.fontpadding {
	padding: 25px 50px; }
	
/* Image Classes */

.smimg {
	padding: 25px 50px; }
	
.image-fluid-custom {
	width: 100% }
	

	

